[submodule "external/minunit"]
	path = external/minunit
	url = https://github.com/siu/minunit.git
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "external/jsmn"]
	path = external/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "external/dr_libs"]
	path = external/dr_libs
	url = https://github.com/mackron/dr_libs.git
